<div class='header'>
  <svg
    class='header-logo'
    xmlns='http://www.w3.org/2000/svg'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
  >
    <path
      d='M15 2H9a1 1 0 0 0-1 1v2c0 .6.4 1 1 1h6c.6 0 1-.4 1-1V3c0-.6-.4-1-1-1Z'
    ></path>
    <path
      d='M8 4H6a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-2'
    ></path>
    <path d='M12 11v6'></path>
    <path d='M9 14h6'></path>
  </svg>
  <h1 class='header-title'>GitComAI Configuration</h1>
</div>