webpack.config.js
dist/
node_modules/
.vscode-test/
.vscode/
.git/
.gitignore
.eslintignore
.eslintrc.js
.prettierrc
.prettierignore
README.md
LICENSE
package.json
package-lock.json
tsconfig.json
tsconfig.dev.json
tsconfig.prod.json
tsconfig.test.json
vscode-extension-quickstart.md
